@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
* {
    box-sizing: border-box;
}

p {
    margin: 0;
}

.body {
    font-family: 'Ubuntu';
    background: url(/img/baground.png);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1366px;
    height: 60px;
    padding: 0 80px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
}

.header > a {
    font-size: 22px;
    line-height: 22px;
}

.header a {
    color: white;
}

.header a:hover {
    color: #01813F;
    transition: all 0.4s ease-in-out;
}

.header-icon-link:hover .header-svg-icon {
    fill: #01813F;
    transition: all 0.4s ease-in-out;
}

.header-icon {
    display: flex;
    align-items: center;
}

.header-icon-link {
    margin-right: 30px;
}

.header-login-link {
    padding-left: 30px;
    border-left: 1px solid white;
    color: white;
    font-size: 14px;
    line-height: 14px;
}

.main-singup {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.section {
    position: relative;
    width: 444px;
    height: 584px;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    border: none;
    padding: 0;
}

.section-padding {
    padding: 30px 60px;
}

.section::after {
    content: '';
	position: absolute;
    top: 30px;
	width: 18px;
	height: 18px;
	background-color: #3CB878;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    position: relative;
}

.title p {
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}

.login {
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    position: relative;
}


.login a::before {
	content: '';
	position: absolute;
    bottom: -1px;
	width: 100%;
	height: 1px;
	background-color: #01813F;
    opacity: 0;
}

.login a:hover:before {
    opacity: 1;
    transition: all 0.4s ease-in-out;
}
  
.login a:hover {
    color: #01813F;
    transition: all 0.4s ease-in-out;
}

.btn {
    display: flex; 
    gap: 8px;
    height: 46px;
    margin-bottom: 32px;
}

.btn a {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 27px 12px 11px;
}

.facebook {
    background: #305DB8;
}

.facebook:hover {
    background: #022263;
    transition: all 0.4s ease-in-out;
}

.google {
    background: #DF4A32;
}

.google:hover {
    background: #AB1F09;
    transition: all 0.4s ease-in-out;
}

.btn .facebook-item::before {
    content: '';
	position: absolute;
	width: 1px;
	height: 20px;
	background: #0A162F;
    opacity: 0.1;
    left: -18px;
}

.facebook-item, 
.google-item {
    position: relative;
}

.btn .google-item::before {
    content: '';
	position: absolute;
	width: 1px;
	height: 20px;
	background: #2B0D09;
    opacity: 0.1;
    left: -18px;
}

.fieldset {
    border: none;
    border-top: 1px solid #F2F2F2;
    padding: 0;
    margin: 0;
}

legend {
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    text-align: center;
}

.form {
    padding-top: 10px;
}

input {
    width: 100%;
    height: 45px;
    margin-bottom: 15px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding-left: 15px;
    color: #434343;
}
input:focus {
    border: 1px solid #F2F2F2;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    outline: none;
}

.checkbox {
    position: relative;
    user-select: none;  
}

.checkbox label {
    margin-bottom: 20px;
}

.terms a {
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    position: relative;
    margin-left: 5px;
}

.terms a::before {
	content: '';
	position: absolute;
    bottom: -1px;
	width: 100%;
	height: 1px;
	background-color: #01813F;
    opacity: 0;
}

.terms a:hover:before {
    opacity: 1;
    transition: all 0.4s ease-in-out;
}
  
.terms a:hover {
    color: #01813F;
    transition: all 0.4s ease-in-out;
}

.checkbox input[type=checkbox] {
    display: none;
}

input[type="checkbox"]:checked + label, 
input[type="checkbox"]:not(:checked) + label {
    display: inline-flex;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
    border: 1px solid #dddddd;
    border-radius: 2px;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    left: 5px;
    top: 5px;
    width: 10px;
    height: 5px;
    border-left: 3px solid #3CB878;
    border-bottom: 3px solid #3CB878;
    transform: rotate(-45deg);
    transition: all 0.4s ease-in-out;
}

input[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
}

input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

.form-btn {
    border: none;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    color: white;
    font-size: 16px;
    line-height: 16px;
    width: 100%;
    height: 50px;
    transition: all 0.4s ease-in-out;
}
 
.form-btn:hover {
    background-color:#3CB878;
    transition: all 0.4s ease-in-out;
}

input[type="checkbox"]:not(:checked) ~ .form-btn {
    pointer-events: none;    
    opacity: 0.5;
    transition: all 0.4s ease-in-out;
}